ul.nav {
	background-color: #7D804E;
}

li.title {
	color: white;
}

li.nav-item a {
	color: white;
}

li.nav-item a:hover {
	background-color: #9DA064;
	font-weight: bold;
}

ul.sub-nav {
	background-color: white;
}

li.sub-nav-item {
	color: black;
}



