body {
	margin: 0;
	font-family: 'Tangeringe', sans-serif;
}
ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 14px;
}

li.title {
	display: inline;
	font-weight: bold;
	margin-right: 1em;
}

li.nav-item {
	display: inline;
}

li.nav-item a {
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li.nav-item a:hover{
}

li.search {
	float: right;
}

#search {
	height: 2em;
	margin-top: -14px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-style: none;
	padding: 5px;    
	font-style: italic;
	color: darkslategrey;
}

ul.sub-nav {
	font-size: .8em;
	list-style-type: none;
        margin: 0;
        padding: 1em 2em;
}

li.sub-nav-item {
	display: inline;
}

li.sub-nav-item a {
	text-decoration: none;
	color: #525150;
}

li.sub-nav-item a:visited {
	color: #525150;
}

li.sub-nav-item a:hover {
	color: #6e6d6d;
}

#seperator {
	width: auto;
	height: 1em;
	background-image: linear-gradient(grey, white);
}

#container {
	width: auto;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

#left {
	float: left;
	width: auto;
}

#center {
	float: left;
	width: 100%;
	text-align: center;
}

#right {
	float: left;
	width: auto;
}


